*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Smooch Sans", sans-serif;
}
h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
    color: gray;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.head{
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img{
    right: 1;
    bottom: 10;
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
    border:.2px solid white;
    outline: .2px solid rgb(140, 140, 140);
}
fieldset{
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
}

legend{
    font-size: 22px;
}
.name{
    padding: 5px;
    border: .2px solid rgb(160, 160, 160);
    border-radius: 5px;

}
.input-container{
    align-self: flex-start;
}
.bottom-container {
    margin: 10px 0;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: .2px solid rgb(62, 62, 62);
    transition: .2s ease-in;
}

button:hover{
    background-color: rgb(255, 223, 228);
}
.language {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 13px;
    justify-self: center;
    margin-left: 60px;
}

.error-name{
    color: red;
    border-color: red;
}
.correct-name{
    color: green;
    border-color: green;
}
.hide{
    display: none;
}

.selection-error {
    color: red;
    font-size: 13px;
    justify-self: center;
    margin-left: 5px;
}

@media screen and (max-width: 800px) {
    .head{
        flex-direction: column;
    }
    fieldset{
        width: 300px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 20px;
    }
    img{
        right: 1;
        bottom: 10;
        width: 300px;
        height: 120px;
        object-fit: cover;
        border-radius: 15px;
        border:.2px solid white;
        outline: .2px solid rgb(140, 140, 140);
    }
    h1{
        text-transform: uppercase;
        font-size: 23px;
        margin-bottom: 10px;
        color: gray;
    }
}